{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 years", "ie > 8"]
            }
        }],
        "stage-2"
    ],
    "env": {
        "test": {
          "presets": [["env", { "targets": { "node": "current" } }]],
          "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
        }
    },
    "plugins": [
        "syntax-dynamic-import",
        "transform-runtime"
    ]
}