.blog-wrapper {
    position: relative;
    padding: 550px 0 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F9F9FD;


    .md {
        width: 50%;
        min-width: 800px;
        background: linear-gradient(315deg, #e6e6e6, #ffffff);
        box-shadow:  -20px -20px 60px #d9d9d9, 
                    20px 20px 60px #ffffff;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        padding: 10px 30px 15px 30px;
        border: 1px solid #e8e8e8;
        border-bottom: 2px solid #fff;
        border-radius: 10px;
    }
    .guid-wrapper {
        margin-left: 40px;
        width: 200px;
        height: 400px;
        padding: 24px;

        .time-line {
            padding-bottom: 16px;
            border-left: 2px solid #d9d9d9;
            &::before {
                content: "";
                content: "目录";
                font-size: 12px;
                text-align: center;
                display: inline-block;
                width: 40px;
                height: 40px;
                background: #ddd;
                border-radius: 50%;
                position: relative;
                left: -21px;
                top: 0;
                line-height: 40px;
                color: white;
            }
            .time-line-item {
                line-height: 32px;
                font-size: 16px;
                transition-duration: .5s;
                vertical-align: middle;
                text-overflow: ellipsis;
                max-width: 330px;
                white-space: nowrap;
                padding: 0 8px;
                a {
                    color: #333;
                }
                &::before {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    background: #ddd;
                    border-radius: 50%;
                    position: relative;
                    left: -14px;
                    top: -1px;
                }
            }
        }
    }
}

.blog-nav {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 400px;
    line-height: 100px;
    box-sizing: border-box;
    padding: 0 80px;
    background: url(../imgs/blog/blogBg.png) no-repeat 0 0;
    background-size: 100%;
    .blog-title {
        float: left;
        font-size: 48px;
        font-weight: 700;
        font-family: AmaticSC-Regular,sans-serif;
        font-feature-settings: "kern","liga","clig","calt";
        letter-spacing: 2px;
        // &:hover {
        //     text-shadow: 1px 2px 2px rgba($color: black, $alpha: 0.5);
        // }
    }
    .blog-menu {
        float: right;
        
        .blog-router {
            font-family: AmaticSC-Regular,sans-serif;
            font-feature-settings: "kern","liga","clig","calt";
            font-size: 24px;
            margin-left: 24px;
            color: #333;
            font-weight: 600;
            letter-spacing: 1px;

            &:hover {
                font-weight: 700;
                text-shadow: 1px 2px 2px rgba($color: #333, $alpha: 0.5);
            }
        }
        
    }
}