.j-nav {
	background: #fff;
	box-shadow: 0 2px 8px #f0f1f2;
	position: relative;
	z-index: 10;
    max-width: 100%;
    height: 64px;

    &-logo {
        width: 240px;
        height: 100%;
        box-sizing: border-box;
        padding: 17px 40px;
        display: flex;
        flex-direction: row;
        align-content: center;

        &-img {
            display: inline-block;
            width: 40px;
            height: 30px;
            background: url('../imgs/nav/joker.png') 0 0 no-repeat;
            background-size: 40px;
        }

        &-title {
            color: #314659;
            font-size: 16px;
            line-height: 30px;
            margin-left: 16px;
            font-weight: bold;
        }

    }
}
